
body {
    background-image: url(../Assets/Images/photography/camera-bacground.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.95;
}

.navbar {
    opacity: 0.8;
}

.nav-item dropdown {
    background-color: #c83349;
}

.mynav .dropdown-menu {
    background-color: #c83349;
}

.mynav .navbar-brand mb-0 h1 {
    color: white;
    font-weight: bold;
}

img {
    max-width: 100%;
   
}

header {
    margin-top: 65px;
    margin-bottom: 65px;
}

h1 {
   color: rgb(187, 235, 232);
   text-align: center;
   font-family: 'Nothing You Could Do', cursive;
}

h2 {
    color: rgb(187, 235, 232);
    opacity: 0.7;
    font-family: 'Nothing You Could Do', cursive;
}

footer {
    margin-top: 100px;
    margin-bottom: 30px;
}

.col-home  {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
   }

.col-email {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
   }

.col-footer {
    text-align: center;
}

.footer.row {
    width: auto;
}

p {
    color: aliceblue;
}