/* in the body, I linked the image, centered the image width/height, made so the image doesnt repeat when you change the browser size, 
fixed it to the screen, and covered the page with the image no matter how you adjust the size of the browser window*/

 body {
    background-image: url(../Assets/Images/background_2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.95;
} 



.navbar {
    opacity: 0.5;
}


.nav-item dropdown {
    background-color: #c83349;
}

.mynav .dropdown-menu {
    background-color: #c83349;
}

.mynav .navbar-brand mb-0 h1 {
    color: white;
    font-weight: bold;
}

header {
    width: auto;
    color: antiquewhite;
    text-align: center;
    margin: 45px;
}

img  {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 50%;
    padding: 50px;
  }

  .col-about {
      position: relative;
      background: turquoise;
      border-style: double;
      border-color: #c83349;
      padding: 30px 30px 30px 30px;
      

  }

footer {
    position: relative;
    width: 100%;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    }


.col-home {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
   }

.col-email {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
   }


.col-footer {
    text-align: center;
}

.footer.row {
    width: auto;
}

p {
    color: aliceblue;
}

