
body {
    background-image: url(../Assets/Images/photography/camera-background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navbar {
    opacity: 0.8;
}

.nav-item dropdown {
    background-color: #c83349;
}

.mynav .dropdown-menu {
    background-color: #c83349;
}

.mynav .navbar-brand mb-0 h1 {
    color: white;
    font-weight: bold;
}

img {
    max-width: 100%;
   
}

h1 {
color: rgb(187, 235, 232);
   text-align: center;
   font-family: 'Nothing You Could Do', cursive;
}

h2 {
    color: rgb(187, 235, 232);
    opacity: 0.7;
    font-family: 'Nothing You Could Do', cursive;
}

footer {
    text-align: center;
    position: fixed;
    padding: 3px;
    background-color: rgb(221, 255, 251);
    color: blue;
    opacity: 0.3;
}