
body {
    background-image: url(../Assets/Images/photography/music-background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navbar {
    opacity: 0.55;
}

.nav-item dropdown {
    background-color: gray;
}

.mynav .dropdown-menu {
    background-color: gray;
}

.mynav .navbar-brand mb-0 h1 {
    color: white;
    font-weight: bold;
}



h1 {
    color: black;
       text-align: center;
       font-family: 'Nothing You Could Do', cursive;
    }
    
.container {
    border-radius:100%;
    background-image: url("logo.png");
    background-color:transparent;
    background-size:cover;
    background-position:center;
    border-width:0px;
    outline:none;
    width: 40px;
    height: 40px;
    }
    
.youtube {
    width: 25%;
}