body {
    background-image: url(../Assets/Images/contact-background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.95;
}



    * {box-sizing: border-box;}

.contact {
    background-color: #c83349;
    border: 5px solid red;
}

.contact-form {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
}

.contact {
    width: 100%;
}

.contact input {
    width: 50%;
}

form {
    background-color: #f0f5af;
    margin: 12%;
    border-style: double;
    border-radius: 45px;
    border-color: #c83349;
    padding: 1rem;
    }

.form-group {
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    font-family: 'Source Code Pro', monospace;
    }
    

.row {
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
}

label {
    font-family: 'Source Code Pro', monospace;
    padding-left: 3px;
}

.col-fn {
    margin-top: 1rem;
}

.col-ln {
    margin-top: 1rem;
}

.btn.btn-primary {
    background-color: red;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 35px;
    margin-bottom: 2.5rem;
    cursor: pointer;
    font-family: 'Source Code Pro', monospace;

}

header {
    color: white;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.col-home  {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
   }

.col-email {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
   }

.col-footer {
    text-align: center;
}

.footer.row {
    width: auto;
}

p {
    color: aliceblue;
}