
html, body {
    margin: 0;
    height: 100%;
}
 body {
    background-image: url(../Assets/Images/background_2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.95;
    
} 

h1 {
    margin-top: 35px;

}
/* NAVBAR CSS*/

.navbar {
    opacity: 0.5;
}

.nav-item dropdown {
    background-color: #c83349;
}

.mynav .dropdown-menu {
    background-color: #c83349;
}

.mynav .navbar-brand mb-0 h1 {
    color: white;
    font-weight: bold;
}

header {
    color: antiquewhite;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    width: auto;
    margin-top: 50px;
       }

.container {
 position: relative;
 max-width: 100%;
 height: 100%;
 
}

img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    padding: 35px;
    border-style: dotted;
    border-width: 4px;
    border-radius: 50%;
    }

.boxed {
    width: 100%;
    height: auto;
    }

  .my-text {
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    overflow: auto; 
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0; 
    font-family: 'Roboto Condensed', sans-serif;
    justify-content: center;    
    text-align: center;
    margin-bottom: 25px;
    }

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    }

.col-footer {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
   }

p {
    color: aliceblue;
}

* {
    box-sizing: border-box;
  }
  
